body{
    background-color: #101820;
}

footer{
    color: white;
}

header{
    color: white;
}

section{
    margin : auto;
    max-width : 900px;
}

article{
    border : 15px solid #101820;
    margin : 10px 2% 10px 2%;
    background-color: #101820;
    color: white;
    text-align : center;
}

article h2{
    text-align: center;
    text-decoration: underline #985f99;
}

article a{
    text-decoration : none;
    color: #985f99;
}

article a:hover{
    text-decoration : none;
}

#page_metier{
    background-color: #fac800;
    float: right;
    text-align: center;
    width: 150px;
    height: 25px;
    color: #101820;
    text-decoration: none;
}

#page_metier2{
    background-color: #fac800;
    float: left;
    text-align: center;
    width: 150px;
    height: 25px;
    color: #101820;
    text-decoration: none;
}
#level_designer{
    width:300px; 
}

#dir_art{
    width: 250px;
}

#game_designer {
    float: left;
    max-width: 50%;
    height: auto;
    padding:15px;
}

#dev_info{
    background-position: center;
    width: 200px;
}

.pointjaune {
    text-align : center;
    background-color : #101820;
    padding : 15px 5px 20px 9px;
    border : 10px dotted #fac800;
}

.pieddepage ul, .navigation ul {
    margin-bottom : 0;
}

.pieddepage a, .navigation a {
    text-decoration : none;
    font-size : 24px;
    padding : 15px 7px 7px 7px;
    display : block;
    min-width : 150px;
}

.pieddepage li, .navigation li {
    display : inline-block;
    margin-right : 2%;
}

.pieddepage h1 {
    text-align : left;
    margin-top : 0;
}

.ghost {
    width : 37px;
    margin-right : 4px;
}

.lien_bleu {
    border : 4px dotted #00a0c8;
}
.lien_bleu:hover {
    background-color :#00a0c8;
    border : 4px solid #f0f0dc;
}

.lien_vert {
    border : 4px dotted #10c840;
}
.lien_vert:hover {
    background-color :#10c840;
    border : 4px solid #f0f0dc;
}

.lien_rouge {
    border : 4px dotted #d24040;
}
.lien_rouge:hover {
    background-color :#d24040;
    border : 4px solid #f0f0dc;
}

.lien_violet {
    border : 4px dotted #985F99;
}
.lien_violet:hover {
    background-color :#985F99;
    border : 4px solid #f0f0dc;
}

.lien_brun {
    border : 4px dotted #a0694b;
}
.lien_brun:hover {
    background-color :#a0694b;
    border : 4px solid #f0f0dc;
}

.blinking{
    font-family: FontMenu;
    text-align: center;
    text-shadow:2px 2px #0066dad8;;
    animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
    0%{     color: #00a0c8;    }
    49%{    color: #00a0c8; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #00a0c8;    }
}

@font-face {
    font-family: FontMenu;
    src: url(FontMenu.ttf);
}

